* {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  box-sizing: border-box;
  border: 0 none;
}

body {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.pos-rel {
  position: relative;
}

/* Header */
.header {
  background-color: #d45649;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: -60px;
  z-index: 10;
}

.nav-logo {
  width: 160px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.menu-list i {
  font-size: 20px;
  color: white;
}

.menu-list span {
  font: bold 14px/24px "Roboto Condensed", sans-serif;
  color: white;
  text-transform: uppercase;
}

/* Search form */
section {
  padding: 20px 10px;
}

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 680px;
}

.img-bg {
  position: absolute;
  background: url('/students.jpg') 55%;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 85%;
  z-index: 1;
}

.homepage {
  padding: 140px 30px;
  max-width: 600px;
  z-index: 2;
}

.title {
  font: bold 40px/45px "Roboto Condensed", sans-serif;
  color: white;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.search-f-container {
  height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 20px 10px;
}

.form-title {
  font: bold 21px/23px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: rgb(85, 85, 85);
  padding-bottom: 10px;
}

.search {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: white;
  margin-bottom: 10px;
  font: normal 16px/16px "Roboto Condensed", sans-serif;
}

.search-btn {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background-color: #d45649;
  color: white;
  font: bold 20px/20px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

/* Instruction */
.instructions {
  text-align: center;
  padding: 20px;
}

.inst-header {
  padding: 10px 0 25px 0;
}

.inst-header h3 {
  color: #d45649;
  font: bold 25px/25px "Roboto Condensed", sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.inst-header p {
  font: normal 20px/23px "Roboto Condensed", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}

.item {
  padding: 25px 0;
}

.item h4 {
  font: bold 18px/20px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

.item i {
  color: #d45649;
  font-size: 30px;
}

.item p {
  font: normal 16px/23px "Roboto Condensed", sans-serif;
  text-align: justify;
  text-align-last: center;
}

/* about us? */
.mid-sec {
  padding: 0;
  overflow-x: hidden;
}

/* country */
.country,
.near-u,
.promo {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 300px;
}

.country {
  background-color: #e27f66;
}

.main-info {
  width: 70%;
  z-index: 1;
  color: white;
}

.info h4 {
  font: bold 25px/26px "Roboto Condensed", sans-serif;
  padding-bottom: 10px;
}

.info p {
  font: normal 20px/24px "Roboto Condensed", sans-serif;
  padding-bottom: 10px;
}

.mid-btn {
  font: bold 20px/22px "Roboto Condensed", sans-serif;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  color: #e27f66;
}

.img {
  width: 250px;
  position: absolute;
  top: 25px;
  right: -50px;
  transition: ease all 0.5s;
}

@media (min-width: 500px) {
  .img {
    transition: ease all 0.5s;
    right: 20px;
  }
}

/* near you */
.near-u {
  background-color: #98a4a5;
}

.near-u .mid-btn {
  color: #98a4a5;
}

/* Promo */
.promo {
  background-color: #509bd7;
}

/* footer */
.top-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 300px;
  color: white;
}

.footernav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
}

.footer-menu,
.social-media {
  font: normal 16px/18px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.footer-menu li,
.social-media li {
  padding-right: 15px;
}

.footer-menu li:last-child,
.social-media li:last-child {
  padding-right: 0;
}

.footer-logo {
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 15px 0 10px 0;
  flex-shrink: 0;
}

.footer-logo img {
  width: 50px;
}

.contact-block {
  order: 1;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 40px;
}

.subscribe {
  margin-top: 20px;
}

.sub-title {
  font: bold 20px/22px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sub-email,
.sub-btn {
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  padding: 0 10px;
  font: bold 16px/20px "Roboto Condensed", sans-serif;
}

.sub-btn {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: rgb(145, 145, 145);
  color: white;
}

.d-none {
  display: none;
}

/* bot footer */
.bot-footer {
  background-color: rgb(70, 70, 70);
  color: rgb(167, 167, 167);
  font: bold 16px/20px "Roboto Condensed", sans-serif;
  padding: 10px;
}

.social-logos {
  padding: 10px;
}

.social-logos li {
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
}

.copyright {
  text-align: right;
  font: normal 14px/16px "Roboto Condensed", sans-serif;
}

@media (max-width: 336px) {
  .copyright {
    font: normal 12px/16px "Roboto Condensed", sans-serif;
  }
}